In [1]:
import pandas as pd

In [2]:
penguins = pd.read_csv("./penguins_size.csv")
penguins

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [4]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [5]:
df_not_NaN = penguins.dropna()

if penguins.size != df_not_NaN.size :
    print("Valori NaN trovati")
    penguins.dropna(inplace = True)
else:
    print("Valori NaN non trovati")

Valori NaN trovati

In [7]:
penguins.columns

Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [42]:
penguins["body_mass_kg"] = penguins["body_mass_g"] / 1000 # aggiungere una colonna

In [43]:
penguins

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,body_mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,3.750
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,3.800
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,3.250
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,3.450
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE,3.650
...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE,4.925
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE,4.850
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,5.750
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE,5.200
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,5.400

### Esempi di Aggregazioni

In [10]:
print(penguins["body_mass_g"].mean())
print(penguins["body_mass_g"].std())
print(penguins["body_mass_g"].count())
print(penguins["island"].unique())

4209.056886227545
804.836129253923
334
['Torgersen' 'Biscoe' 'Dream']

In [11]:
penguins.island.unique # funziona, a patto che non ci siano spazzi nel nome della colonna, è decisamente brutto

<bound method Series.unique of 0      Torgersen
1      Torgersen
2      Torgersen
4      Torgersen
5      Torgersen
         ...
338       Biscoe
340       Biscoe
341       Biscoe
342       Biscoe
343       Biscoe
Name: island, Length: 334, dtype: object>

In [12]:
penguins["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [14]:
penguins[["species", "body_mass_g"]].groupby("species").mean()

           body_mass_g
species
Adelie     3706.164384
Chinstrap  3733.088235
Gentoo     5090.625000

In [16]:
penguins[["species", "body_mass_g", "culmen_length_mm"]].groupby("species").count()

           body_mass_g  culmen_length_mm
species
Adelie             146               146
Chinstrap           68                68
Gentoo             120               120

In [17]:
penguins[["species", "body_mass_g", "culmen_length_mm", "sex"]].groupby(["species", "sex"]).mean()

                  body_mass_g  culmen_length_mm
species   sex
Adelie    FEMALE  3368.835616         37.257534
          MALE    4043.493151         40.390411
Chinstrap FEMALE  3527.205882         46.573529
          MALE    3938.970588         51.094118
Gentoo    .       4875.000000         44.500000
          FEMALE  4679.741379         45.563793
          MALE    5484.836066         49.473770

In [19]:
penguins[["island", "species"]].value_counts()

island     species
Biscoe     Gentoo       120
Dream      Chinstrap     68
           Adelie        55
Torgersen  Adelie        47
Biscoe     Adelie        44
dtype: int64

## Esercizio

In [32]:
# calcolare il numero di punguini femmina con peso < di 3,7kg(3700g)
penguins[(penguins["sex"] == "FEMALE") & (penguins["body_mass_g"] < 3700)]["species"].count()

85

In [40]:
# calcolare il numero di punguini femmina con peso < di 3,7kg(3700g) e di specie Gentoo
penguins[(penguins["sex"] == "FEMALE") & (penguins["body_mass_g"] < 3700) & (penguins["species"] == "Gentoo")]["species"].count()

0

In [39]:
# lunghezza media in millimetri della pinna tra i pinguini di specie Adelie
penguins[(penguins["species"] == "Adelie")]["flipper_length_mm"].mean()

190.1027397260274

In [38]:
# lunghezza media in millimetri della pinna tra i pinguini di specie Adelie, ma maschi
penguins[(penguins["species"] == "Adelie") & (penguins["sex"] == "MALE")]["flipper_length_mm"].mean()

192.41095890410958

In [41]:
# il peso del pinguino maschio Adelie più piccolo
penguins[(penguins["species"] == "Adelie") & (penguins["sex"] == "MALE")].min()

species              Adelie
island               Biscoe
culmen_length_mm       34.6
culmen_depth_mm        17.0
flipper_length_mm     178.0
body_mass_g          3325.0
sex                    MALE
dtype: object