In [1]:
import pandas as pd

	Scarica questi dati (http://dati.ustat.miur.it/dataset/laureati) in formato csv e utilizza pandas per: 
    - › caricare i dati di ciascun csv all’interno di un dataframe; 
    - › creare un’aggregazione del numero di laureati per ateneo; 
    - › creare un’aggregazione del numero di laureati per residenza; 
    - › creare un’aggregazione del numero di laureati per sesso; 
    - › creare un’aggregazione del numero di laureati per tipo di laurea; 
    - › creare un’aggregazione del numero di laureati per sesso e per tipo di laurea.

### caricare i dati di ciascun csv all’interno di un dataframe

In [5]:
def NaN_control(dataframe) :
    df_not_NaN = dataframe.dropna()

    if dataframe.size != df_not_NaN.size :
        dataframe.dropna(inplace = True)

In [6]:
df_laureatixanno = pd.read_csv("./laureatixanno.csv")
# df_laureatixateneo = pd.read_csv("./laureatixateneo.csv") # errore di jupiter sul file
df_laureatixgruppo = pd.read_csv("./laureatixgruppo.csv")
df_laureatixtipocorso = pd.read_csv("./laureatixtipocorso.csv")
# df_laureatixclasse = pd.read_csv("./laureatixclasse.csv") # errore di jupiter sul file
df_laureatixresidenza = pd.read_csv("./laureatixresidenza.csv")
# df_laureatixcorsostudio2010_2014 = pd.read_csv("./laureatixcorso_2010-2014.csv") # errore di jupiter sul file
# df_laureatixcorsostudio2015_2019 = pd.read_csv("./laureatixcorso_2015-2019.csv") # errore di jupiter sul file
df_laureatixannonascita = pd.read_csv("./laureatixannonascita.csv")
df_laureatistranieri = pd.read_csv("./laureatistranierixanno.csv")

list_df_laureati = [df_laureatixanno, df_laureatixgruppo, df_laureatixtipocorso, 
                    df_laureatixresidenza, df_laureatixannonascita, df_laureatistranieri] # lista per for

In [8]:
for a in range(0, len(list_df_laureati)-1) :
    list_df_laureati[a] = NaN_control(list_df_laureati[a])

### creare un’aggregazione del numero di laureati per ateneo

### creare un’aggregazione del numero di laureati per residenza

### creare un’aggregazione del numero di laureati per sesso

### creare un’aggregazione del numero di laureati per tipo di laurea

### creare un’aggregazione del numero di laureati per sesso e per tipo di laurea